[submodule "TidyShell/filesystem"]
	path = TidyShell/filesystem
	url = git@github.com:clearlinux-pkgs/filesystem.git
[submodule "TidyShell/zsh"]
	path = TidyShell/zsh
	url = git@github.com:clearlinux-pkgs/zsh.git
[submodule "TidyShell/lightdm"]
	path = TidyShell/lightdm
	url = git@github.com:clearlinux-pkgs/lightdm.git
[submodule "TidyShell/gdm"]
	path = TidyShell/gdm
	url = git@github.com:clearlinux-pkgs/gdm.git
[submodule "TidyShell/sddm"]
	path = TidyShell/sddm
	url = git@github.com:clearlinux-pkgs/sddm.git
[submodule "nvidia-xrun"]
	path = nvidia-xrun
  url = git@github.com:lebensterben/nvidia-xrun
[submodule "cnf"]
  path = TidyShell/cnf
  url = git@github.com:lebensterben/cnf.git
